
## =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environment
# =========================
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Models (prevent huge files)
# =========================
*.pkl
*.h5
*.joblib

# =========================
# DATA SAFETY RULE
# =========================
# Only ignore RAW data 
data/raw/

# IMPORTANT:
# data/processed/   ← keep tracked